<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="actor" class="com.stackroute.domain.Actor" >
        <constructor-arg name="name" value="Abhinav" />
        <constructor-arg name="gender" value="male" />
        <constructor-arg name="age" value="20"/>
    </bean>


    <bean id="movie3" class="com.stackroute.domain.Movie"  autowire="constructor">

    </bean>


</beans>